<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackolive.app.mapper.usermodify.UsermodifyMapper">
	<!-- 회원정보 반환 -->
	<select id="getUser" resultType="OliveUserDTO">
		SELECT *
		FROM olive_user
		WHERE user_id = #{userId}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="pwdUpdate">
		UPDATE olive_user SET user_password = #{userPassword}
		WHERE user_id = #{userId} 
	</update>
	
	<!-- 회원정보 수정 -->
	<update id="infoUpdate">
		UPDATE olive_user SET user_password = #{userPassword}, user_email = #{userEmail}
										, user_name = #{userName, jdbcType=VARCHAR}, user_tel = #{userTel, jdbcType=VARCHAR} 
		WHERE user_id = #{userId} 
	</update>
	
</mapper>