<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.doit.senti.mapper.CartMapper">

	<!-- 
	<insert id="insertCart">
		INSERT INTO CART (cart_id, member_id, pd_id)
		VALUES (seq_cart_id, #{member_id}, #{pd_id})
	</insert>	
	-->
	
	<select id="getCart" resultType="CartDTO">
		SELECT m.member_id, pd_name, test_option, brand_name, pd_price, pd_image_url, deli_pay
		FROM cart c JOIN member m ON c.member_id = m.member_id
            JOIN product p ON p.pd_id = c.pd_id
            JOIN brand b ON b.brand_id = p.brand_id
            JOIN product_image pi ON pi.pd_id = p.pd_id
            JOIN large_ctgr lc ON p.large_ctgr_id = lc.large_ctgr_id
            JOIN main_ctgr mc ON lc.main_ctgr_id = mc.main_ctgr_id
            JOIN delivery_pay dp ON dp.main_ctgr_id = mc.main_ctgr_id
	</select>
	
	<delete id="delete">
		DELETE FROM cart WHERE cart_id = #{cartId}
	</delete>


</mapper>
 