<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blackolive.app.mapper.mypage.MypageReviewMapper">
	
	<resultMap type="com.blackolive.app.domain.mypage.ReviewVO" id="reviewMap">
		<result property="orderDate" column="orderDate"/>
		<result property="BrandName" column="BrandName"/>
		<result property="productDisplayId" column="productDisplayId"/>
		<result property="productDisplayName" column="productDisplayName"/>
		<result property="productDisplaySrc" column="productDisplaySrc"/>
		<result property="productId" column="productId"/>
		<result property="productName" column="productName"/>
		<result property="orderType" column="orderType"/>
		<result property="reviewRegdate" column="reviewRegdate"/>
		<result property="reviewGrade" column="reviewGrade"/>
		<result property="reviewContent" column="reviewContent"/>
		<result property="reviewWritableDate" column="reviewWritableDate"/>
		<result property="reviewMonthWritableDate" column="reviewMonthWritableDate"/>
	</resultMap>
	
	<!-- public List<ReviewVO> mypagereviewList(String userid) throws ClassNotFoundException, SQLException;	 -->
	<select id="mypagereviewList" resultType="java.util.List">
		SELECT 
		    to_date(order_date, 'YYYY-MM-DD') AS orderDate, 
		    brand_name AS brandName,
		    pd.product_display_id AS productDisplayId,  
		    product_display_name AS productDisplayName,
		    product_display_src AS productDisplaySrc,
		    op.product_id AS productId, 
		    product_name AS productName,
		    order_type AS orderType,
		    to_date(order_date, 'YYYY-MM-DD') + 60 AS reviewWritableDate
		FROM olive_order oo
		    left join order_product op on oo.order_id = op.order_id
		    left join product p on op.product_id = p.product_id
		    left join product_display pd on p.product_display_id = pd.product_display_id
		    left join brand b on pd.brand_id = b.brand_id
		    left join product_display_img pdi on pd.product_display_id = pdi.product_display_id
		WHERE user_id = #{userid}
		    AND order_status = '배송완료'
		ORDER BY order_date DESC	
	</select>
	
	<!-- public List<ReviewVO> mypagereviewmonthList(String userid) throws ClassNotFoundException, SQLException; -->
	<select id="mypagereviewmonthList" resultType="java.util.List">
		SELECT 
		    TO_DATE(order_date, 'YYYY-MM-DD') AS orderDate, 
		    brand_name AS brandName,
		    pd.product_display_id AS productDisplayId, 
		    product_display_name AS productDisplayName,
		    product_display_src AS productDisplaySrc,
		    op.product_id AS productId, 
		    product_name AS productName,
		    order_type AS orderType,
		    TO_DATE(REVIEW_REGDATE, 'YYYY-MM-DD') + 120 AS reviewMonthWritableDate
		FROM olive_order oo
		    LEFT JOIN order_product op ON oo.order_id = op.order_id
		    LEFT JOIN product p ON op.product_id = p.product_id
		    LEFT JOIN product_display pd ON p.product_display_id = pd.product_display_id
		    LEFT JOIN brand b ON pd.brand_id = b.brand_id
		    LEFT JOIN product_display_img pdi ON pd.product_display_id = pdi.product_display_id
		    LEFT JOIN review r ON op.product_id = r.product_id
		WHERE oo.user_id = #{userid}
		    AND order_status = '배송완료'
		ORDER BY order_date DESC
	</select>
		
	<!-- public int mypagereviewCount(String userid) throws ClassNotFoundException, SQLException; -->
	<select id="mypagereviewCount" resultType="int">
	
	</select>
		
	<!-- public int mypagereviewmonthCount(String userid) throws ClassNotFoundException, SQLException; -->
	<select id="mypagereviewmonthCount" resultType="int">
	</select>
		
	<!-- public int mypagereviewWriteCount(String userid) throws ClassNotFoundException, SQLException; -->
	<select id="mypagereviewWriteCount" resultType="int">
	</select>
			
	<!-- public List<ReviewVO> mypagereviewWriteList(String userid) throws ClassNotFoundException, SQLException; -->
	<select id="mypagereviewWriteList" resultType="java.util.List">
		SELECT 
		    TO_DATE(order_date, 'YYYY-MM-DD') AS orderDate,
		    brand_name AS brandName,
		    pd.product_display_id AS productDisplayId, 
		    product_display_name AS productDisplayName,
		    product_display_src AS productDisplaySrc,
		    op.product_id AS productId, 
		    product_name AS productName,
		    order_type AS orderType,
		    review_regdate AS reviewRegdate,
		    review_grade AS reviewGrade,
		    review_content AS reviewContent
		FROM olive_order oo
		    LEFT JOIN order_product op ON oo.order_id = op.order_id
		    LEFT JOIN product p ON op.product_id = p.product_id
		    LEFT JOIN product_display pd ON p.product_display_id = pd.product_display_id
		    LEFT JOIN brand b ON pd.brand_id = b.brand_id
		    LEFT JOIN product_display_img pdi ON pd.product_display_id = pdi.product_display_id
		    LEFT JOIN review r ON op.product_id = r.product_id
		WHERE oo.user_id = #{userid}
            and r.user_id = #{userid}
		    AND order_status = '배송완료'
		ORDER BY order_date DESC
	</select>
		
	
	
</mapper>